.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 50px;       
  height: auto;            
}

.banner {
  position: relative;
  display: inline-block;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 180px;  
    background-color: #251f00; 
    border-radius: 50%;       
    z-index: -1;
    opacity: 0.9;
  }
}

.better-call {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #d0ff00;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  position: relative;
  z-index: 1;
}

.saul {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: #FF0000;
  font-weight: 200;
  margin: 0;
  position: relative;
  z-index: 1;
}
